# =========================
# FLUTTER
# =========================

.dart_tool/
.packages
.pub/
build/

# =========================
# ANDROID
# =========================

android/.gradle/
android/app/build/
android/build/

# =========================
# IOS
# =========================

ios/Pods/
ios/.symlinks/

# =========================
# IDE
# =========================

.idea/
.vscode/
*.iml

# =========================
# LOGS
# =========================

*.log

# =========================
# ENV
# =========================

.env
.env.local

# =========================
# AZURE TOKENS
# =========================

*.pem
*.pfx

# =========================
# FIREBASE
# =========================

android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# =========================
# MAC/WINDOWS
# =========================

.DS_Store
Thumbs.db